.parrent{
  display: flex;
  background-color: darkgrey;
  height: 500px;
  width: 500px;
  justify-content: center;
}

.child{
  display: flex;
}

.round{
  order: -1;
  height: 50px;
  width: 50px;
  border: 2px solid green;
  border-radius: 50%;
}
.fio{

}