.window{
    position: absolute;

    min-height: 50px;
    width: 100%;

    display: grid;
    grid-template-columns: 0px min-content auto min-content 0px;
    gap: 10px;

    //justify-content: center;
    align-items: center;

    z-index: 2000;
    background-color: dodgerblue;
    opacity: 0.8;
    //backdrop-filter: blur(3px);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    margin: 0 0 10px 0;


    & a button{
        padding: 5px;
        color:white;
        text-transform: capitalize;
    }

    & *{
        align-items: center;
        text-decoration: none;
    }

}


.logo{
    font-size: 22px;
    font-weight: bold;
}


$color_role_admin: midnightblue;
$color_role_user: white;

.role{
    justify-content: right;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 10px;

    .role__text{
        display: grid;
        text-align: right;
    }
    .role__fio{
        white-space: nowrap;
        color: white;
        font-size: 0.7rem;
    }
    .role__name{
        color: $color_role_admin;
        font-size: 0.7rem;
    }
}


