a {
    text-decoration: none;
}

button{
    color:white;
    text-transform: capitalize;
}

.window{
    position: fixed;
    top: 0;

    width: 100%;
    min-height: 53px;

    display: flex;
    flex-wrap: wrap;

    align-items: center;

    z-index: 2000;

    backdrop-filter: blur(4px);
    background-color: rgba(0, 136, 255, 0.59);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}


.window_activated{
    height: 100vh;

    display: flex;
    flex-wrap: wrap;

    align-items: normal;

    z-index: 2000;

    backdrop-filter: blur(4px);
    background-color: rgba(0, 136, 255, 0.59);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}



.logo{
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    padding: 5px 10px;
}


$color_role_admin: midnightblue;
$color_role_user: white;

.role{
    margin-left: auto;

    display: flex;
    padding: 5px 10px;

    align-items: center;

    .role__text{
        text-align: right;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
    }
    .role__fio{
        white-space: nowrap;
        color: white;
        font-size: 0.7rem;
    }
    .role__name{
        color: $color_role_admin;
        font-size: 0.7rem;
    }
}


.burger{
    display: none;
    padding: 5px 10px;
}


@media screen and (max-width: 768px) {
    .links{
        order: 2;
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 550px) {
    .links{
        display: none;
    }
    .role{
        display: none;
    }


    .links_activated{
        order: 2;
        display: block;
        width: 100%;
        text-align: center;

        & a{
            display: flex;
            justify-content: center;
        }
    }

    .role_activated{

        display: flex;
        order: 3;
        height: 50px;
        padding: 5px 10px;
        margin: 0 auto;
        align-items: center;

        .role__text{
            display: flex;
            flex-direction: column;
        }
        .avatar{
            display: flex;
            margin: 5px;
            order: -1;
        }
        .role__fio{
            display: flex;
            white-space: nowrap;
            color: white;
            font-size: 0.7rem;
        }
        .role__name{
            color: $color_role_admin;
            font-size: 0.7rem;
        }
    }

    .burger{
        display: block;
        margin-left: auto;
    }
}


