.sub_menu{
  display: flex;
  flex-wrap: wrap;

  //backdrop-filter: blur(4px);
  background-color: rgba(235, 235, 235, 1);
  border-radius: 3px;
  box-shadow: 1px 1px 1px lightgray;
}

.group_1{
  //width: 200px;
}

.group_2{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;

  .input{
    height: 1.5rem;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 0 3px;
    width: 100%;
    max-width: 400px;
    margin: 0 10px 0 0;
  }
}

.group_3{
  margin-left: auto;
}

@media screen and (max-width: 480px){

  .group_1{
    order: 1;

  }

  .group_3{
    order: 2;
    text-align: right;

  }

  .group_2 {
    order: 99;
  }
}

.btn{
  color: red;
}




//button[disabled=false]{
//  border: 1px solid #999999;
//  color: red;
//}

