.str{
  display: flex;
  justify-content: space-between;

  //&_sellected{
  //  color: orange;
  //}

}

.str_sellected{
  display: flex;
  justify-content: space-between;
  color: orange;
}

.node{
  cursor: pointer;
}

.name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

