.window{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window .baner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}