.background{
    position: fixed;
    left: 0;
    height: 100vh;
    background-image: url(images/background.webp);
    width: 100vw !important;
    opacity: 0.1;
    animation: scroll linear 90s infinite;
}

@keyframes scroll {
  from {
    background-position: 0;
  }
  to {
    background-position: 1680px;
  }
}

.foundation{
    //border: 1px solid black;
    width: 100%;
    height: 70vh;

    display: flex;
}

.menu{
    //border-right: 3px solid grey;
    width: 200px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.el_menu{
    height: 50px;
    width: 100%;
    text-align: right;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
    background: linear-gradient(90deg,  rgba(255,255,255, 0) 0%, rgba(3, 138, 255, 0.8) 100%);
    box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.el_menu__active{
    color: orange;
    height: 50px;
    width: 100%;
    text-align: right;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
    background: linear-gradient(90deg,  rgba(255,255,255, 0) 0%, rgba(3, 138, 255, 0.8) 100%);
    box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.el_menu__active:before{
	content: "";
	border: solid transparent;
    z-index: 10;
	position: absolute;
	left: 100%;
	top: 50%;
	border-left-color: rgba(54, 166, 252, 1);
	border-width: 30px;
	margin-top: -30px;
}


.description{
    height: 95%;
    width: 100%;
    margin: 5px 20px 5px 5px;
    padding: 10px 20px 10px 30px;
    border-radius: 10px;

    //backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.2);

    overflow: auto;

    & section{
        margin: 1.5em 0 0 0;
    }

    & ul{
        margin: 0 0 0 15px;
        list-style-position: outside;
    }

    & img {
      //-webkit-filter: drop-shadow(50px 50px 5px #000);
      //filter: drop-shadow(50px -20px 15px #65b9d4);

        background: radial-gradient(rgba(54, 166, 252, 0.2) 0%, rgba(0, 0, 0, 0) 70%) center center no-repeat;
        animation: 2s ease-in-out infinite back;
    }


    @keyframes back {
      0%, 100% { background-size: 90%; }
      50% { background-size: 30%; }
    }
}