.data{

  display: flex;
  flex-flow: row nowrap;

  & div{
    width: 100%;
    text-align: center;
    & svg{
      width: 60%;
    }
  }
}

.image{
  width: 50%;

  & img{
    width: 100%;
    object-position: center top;
  }

}



.input{
  padding: 0 10px;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  width: 50%;

}

@media screen and (max-width: 600px){
  .data{
    //flex-flow: column wrap;
    //display: inline;
    display: block;
  }

  .image{
    width: 100%;
  }

  .input{
    width: 100%;
  }
}

h4{
  margin-top: 15px;
}
